name: Tests
on:
  pull_request:
    branches:
      - main

jobs:
  phpunit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 7.4, 8.0, 8.1 ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php${{ matrix.php }}-
      - name: Install Composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run phpunit
        run: vendor/bin/phpunit --log-junit report/junit.xml
      - name: Upload unit test result report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: report-php-${{ matrix.php }}
          path: report

  phpunit-test-result:
    runs-on: ubuntu-latest
    needs: phpunit
    if: always()
    steps:
      - if: ${{ github.event_name == 'pull_request' }}
        name: Download reports from main branch
        uses: dawidd6/action-download-artifact@v2.17.0
        continue-on-error: true
        with:
          workflow: .github/workflows/workflow.yaml # this file
          branch: main
          path: artifacts/base
      - name: Download reports for current commit
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish test report
        uses: ShookTea/JunitCloverReporter@v1.0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          clover: artifacts/report-php-8.1/clover.xml
          junit: artifacts/**/junit.xml

  phpstan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 7.4, 8.0, 8.1 ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php${{ matrix.php }}-
      - name: Install Composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run phpstan
        run: vendor/bin/phpstan analyse