name: Tests
on:
  pull_request:
    branches:
      - main

jobs:
  phpunit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 7.4, 8.0, 8.1 ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php${{ matrix.php }}-
      - name: Install Composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run phpunit
        run: vendor/bin/phpunit --log-junit junit.xml
      - name: Upload unit test result report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Unit test report (PHP ${{ matrix.php }})
          path: |
            junit.xml
            clover.xml

  phpunit-test-result:
    runs-on: ubuntu-latest
    needs: phpunit
    if: always()
    steps:
      - name: Download test reports
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish unit tests results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: 'artifacts/**/junit.xml'
      - name: Build coverage badge
        uses: timkrase/phpunit-coverage-badge@v1.2.0
        with:
          report: 'artifacts/**/clover.xml'
          push_badge: true
          repo_token: "${{ secrets.GITHUB_TOKEN }}"

  phpstan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 7.4, 8.0, 8.1 ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php${{ matrix.php }}-
      - name: Install Composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run phpstan
        run: vendor/bin/phpstan analyse